# =========================
# BACKEND (.gitignore)
# =========================
/backend/node_modules
/backend/.env
/backend/*.sqlite
/backend/*.log
/backend/.DS_Store
/backend/.vscode/
backend/knexfile.local.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SQLite (caso use temporariamente)
*.sqlite

# =========================
# FRONTEND (.gitignore)
# =========================
/frontend/node_modules
/frontend/.env
/frontend/dist
/frontend/.DS_Store
/frontend/.vscode/

# Vite cache
/frontend/.vite

# Editor configs
*.swp
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
